<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register | App</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>


  <div class="container register-auth">
    <h1 class="mb-3 mt-5">Register</h1>
    <form class="form_login row g-3" action="/register" method="post">

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
          <label for="floatingInput">First Name</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
          <label for="floatingInput">Last Name</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" placeholder="Email address" name="email" required>
          <label for="floatingInput">Email address</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" placeholder="Phone Number" name="phone_number" required>
          <label for="floatingInput">Phone Number</label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" placeholder="Address" name="address" required>
          <label for="floatingInput">Address</label>
        </div>
      </div>

      <!-- <div class="col-md-3">
        <div class="form-floating mb-3">
          <select id="inputState" class="form-control form-select mb-3">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
          <label for="floatingInput">Address</label>
        </div>
      </div> -->
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" placeholder="Country" name="country" required>
          <label for="floatingInput">Country</label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" placeholder="City" name="city" required>
          <label for="floatingInput">City</label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-floating">
          <input type="password" class="form-control" placeholder="Password" name="password" required>
          <label for="floatingPassword">Password</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <p>You have account? <a href="/">LogIn Here</a></p>
  </div>



  <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>